body,
html {
  margin: 0;
  padding: 0;
  background: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Source Sans 3";
  color: #000
}
header {
  background: #fff;
  width: 365px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 10px;
  overflow: hidden
}
section {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 375px;
  margin: 20px auto
}
.post {
  width: 375px;
  height: 375px
}
.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%
}
.postfooter,
.postheader {
  margin-left: 10px;
  padding: 15px 0;
  display: flex
}
.postheader {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px
}
.postfooter {
  margin-top: -5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px
}
.postfooter,
.postname {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}
.postname {
  display: flex
}
.bold,
h2 {
  font-weight: 700;
  opacity: .9;
  color: #6930c3
}
.bold:active,
.bold:hover,
.icon:active,
.icon:hover,
h2:active,
h2:hover {
  opacity: 1;
  cursor: pointer
}
.icon {
  width: 18px;
  height: 23px;
  opacity: .7
}
.iconlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px
}
h2,
p {
  margin: 0
}
h2 {
  font-size: 13px
}
p {
  font-weight: 400;
  font-size: 12px
}
.logo {
  width: 150px;
  height: 75px
}
.mainavatar {
  margin-right: 10px
}